@font-face {
    font-family: Poppins;
    src: url("/fonts/Poppins-Regular.ttf");
}
.flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
body {
    background-color: #22252c;
    font-size: 16px;
}

header {
    background: rgb(76, 140, 255);
    background: linear-gradient(90deg, rgba(76, 140, 255, 1) 0%, rgba(0, 237, 143, 1) 100%);
    border-radius: 150px;
    margin-bottom: 20px;
}
.logo {
    padding-left: 9vw;
}
header div {
    width: 98vw;
    margin: auto;
    font-family: Poppins;
}
.flexiable {
    margin-left: 1rem;
}
.flexiable:hover,
canvas:hover {
    cursor: pointer;
}
.options {
    justify-content: flex-end;
    letter-spacing: 2px;
}
.about {
    margin-right: 18vw;
    margin-left: 2vw;
}
.gallery {
    padding: 0px;
}
.photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
    gap: 1em;
}
.meme-editor {
    width: 98vw;
    margin: auto;
}
.meme {
    height: 200px;
    width: 200px;
}
/* .border {
    border: 1px solid black;
} */

/* .rtl {
    display: inline-block;
} */
.edits {
    margin-left: 7vmin;
    height: 500px;
    max-width: calc(98vw - 500px);
    flex-direction: column;
    background-color: #383b42;
    border-radius: 30px;
    align-items: center;
}
canvas {
    margin-left: 9vw;
    border-radius: 30px;
}
.meme-text {
    margin: 2vw 4vw 1vw 4vw;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
    border-radius: 28px;
    background-color: #ebeef3;
    width: fit-content;
    padding: 2vh 10vh;
    color: #3d3d3d;
    /* font-family: Poppins; */
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.switch {
    box-shadow: 1px 5px 0 #048b97, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
}
.add {
    /* Style for "Rectangle" */
    box-shadow: 1px 5px 0 #015d33, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
}
.delete {
    /* Style for "Rectangle" */
    box-shadow: 1px 5px 0 #8c0606, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #cf1d37 0%, #cf1d37 1%, #f05036 100%);
}
.move-up,
.move-down {
    /* Style for "Rectangle" */

    box-shadow: 1px 5px 0 #858c06, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #91cf1d 0%, #91cf1d 1%, #f09036 100%);
}
.move-between-lines {
    margin-bottom: 1rem;
}
.move-between-lines button {
    font-size: 1.75rem;
    width: 58px;
    height: 53px;
    border-radius: 10px;
}
.text-edits {
    /* Style for "Rectangle" */
    width: 39vw;
    height: 151px;
    border-radius: 15px;
    background-color: #19a59f;
    flex-wrap: wrap;
}
.text-edits > * {
    /* Style for "Rectangle" */
    /* flex-basis: 10%; */
    font-size: 2rem;
    width: 55px;
    height: 51px;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    flex-wrap: no-wrap;
    background-color: #ffffff;
}
.text-attr {
    flex-basis: 100%;
    background-color: #19a59f;
    box-shadow: none;
}
.text-attr > * {
    margin: 0px 1rem;
    font-size: 2rem;
}
.under-line,
#fontColor {
    width: 55px;
    height: 50px;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ffffff;
    background-color: #ffffff;
}
.fontColor {
    border-radius: 50px;
}
.upload-download {
    margin-top: 2vw;
}
.fonts {
    /* Style for "Rectangle" */
    width: 236px;
    height: 50px;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ffffff;
    background-color: #ffffff;
}
.download {
    color: #ffffff;
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;
    width: 18.5vw;
    height: 51px;
    box-shadow: 1px 6px 0 #632687, inset 0 5px 0 #ffffff;
    border-radius: 15px;
    background-color: #8f44bb;
    justify-content: center;
    align-items: center;
}
.btn {
    /* Style for "Rectangle" */
    width: 213px;
    height: 51px;
    box-shadow: 1px 6px 0 #165c9c, inset 0 5px 0 #ffffff;
    border-radius: 15px;
    background-color: #1e7cd3;
    color: #ffffff;
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-decoration: dashed;
}

.share-container {
    margin: auto 0px;
    flex-basis: content;
    height: 51px;
    box-shadow: 1px 6px 0 #165c9c, inset 0 5px 0 #ffffff;
    border-radius: 15px;
    background-color: #1e7cd3;
    justify-content: center;
    align-items: center;
}
.upload-link {
    color: #ffffff;
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-decoration: dashed;
}
.renderable {
    margin-top: 2vw;
}
/* @font-face {
    font-family: fa-solid;
    src: url("/fonts/fa-solid-900.ttf");
} */

/* .fa-solid::before {
    font-family: fa-solid;
    content: "\f878";
    font-size: 1em;
} */
@media screen and (max-width: 500px) {
    .meme-editor {
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    header {
        margin-bottom: 0px;
    }
    canvas {
        margin-left: 0px;
        margin-top: 7vw;
    }
    .edits {
        max-width: 90vw;
        margin: 0px auto;
        height: 40vh;
    }
    .meme-text {
        padding: 0px;
    }
    .text-edits {
        width: 90vw;
        height: unset;
    }
    .text-edits > * {
        margin-right: 0px;
    }
    .download {
        width: 35vw;
    }
}
