.searches {
    display: flex;
    flex-direction: row;
    width: 92vw;
    margin: auto;
}
.searches > * {
    width: 70%;
    overflow: hidden;
}
.search-word {
    width: 40%;
    padding: 5vh 0px;
    margin-bottom: 0px;
    color: white;
    font-family: inherit;
    border: 0;
    border-bottom: 2px solid gray;
    font-size: 3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.spans {
    font-size: 5px;
    background-color: orange;
    color: whitesmoke;
}
.spans span {
    margin: 5px;
}
.spans span:hover {
    cursor: pointer;
}
