.upload-link {
    color: #ffffff;
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-decoration: dashed;
}

.btn {
    width: 213px;
    height: 51px;
    box-shadow: 1px 6px 0 #165c9c, inset 0 5px 0 #278be8;
    border-radius: 15px;
    background-color: #1e7cd3;
    color: #ffffff;
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-decoration: dashed;
}
.text-attr > * {
    margin: 0.5rem 1rem;
    font-size: 2rem;
}

.color-choice {
    border-radius: 50px;
    padding: 4px;
    height: 100%;
    width: 4rem;
}
.upload-download {
    margin-top: 2vw;
}
.fonts {
    width: 100%;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ffffff;
    background-color: #ffffff;
}
.download {
    color: #ffffff;
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;
    width: 18.5vw;
    height: 51px;
    box-shadow: 1px 6px 0 #632687, inset 0 5px 0 #aa37ed;
    border-radius: 15px;
    background-color: #8f44bb;
    justify-content: center;
    align-items: center;
}
.text-edits > * {
    font-size: 2rem;
    padding: 0.5rem 1rem;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ffffff;
}
.text-attr {
    background-color: #19a59f;
    box-shadow: none;
}
.move-between-lines {
    margin-bottom: 1rem;
}
.move-between-lines button {
    font-size: 1.75rem;
    width: 58px;
    height: 53px;
    border-radius: 10px;
}
.text-edits {
    width: 100%;
    padding: 10px 0px;
    border-radius: 15px;
    background-color: #19a59f;
}
.meme-text {
    margin: 5px auto;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
    border-radius: 28px;
    background-color: #ebeef3;
    width: fit-content;
    padding: 2vh 5vw;
    color: #3d3d3d;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.switch {
    box-shadow: 1px 5px 0 #048b97, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
}
.add {
    box-shadow: 1px 5px 0 #015d33, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
}
.delete {
    box-shadow: 1px 5px 0 #8c0606, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #cf1d37 0%, #cf1d37 1%, #f05036 100%);
}
