@media screen and (max-width: 500px) {
    .meme-editor {
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    header {
        margin-bottom: 0px;
        flex-direction: column;
    }
    header > * {
        margin: auto;
    }
    .logo,
    .about {
        padding: 0px;
    }
    .about {
        margin: 0px;
    }
    .options {
        flex-direction: column;
        text-align: center;
    }
    canvas {
        margin-left: 0px;
        margin-top: 7vw;
    }
    .edits {
        max-width: 90vw;
        margin: 0px auto;
        height: 40vh;
    }
    .meme-text {
        padding: 0px;
    }
    .text-edits {
        width: 90vw;
        height: unset;
    }
    .text-edits > * {
        margin-right: 0px;
    }
    .download {
        width: 35vw;
    }
}
