.meme {
    height: 200px;
    width: 200px;
}
.options {
    justify-content: flex-end;
    letter-spacing: 2px;
}
.about {
    margin-right: 18vw;
    margin-left: 2vw;
}
.gallery {
    padding: 0px;
}
.photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
    gap: 1em;
}
