header {
    background: rgb(76, 140, 255);
    background: linear-gradient(90deg, rgba(76, 140, 255, 1) 0%, rgba(0, 237, 143, 1) 100%);
    border-radius: 150px;
    margin-bottom: 20px;
}
.logo {
    padding-left: 9vw;
}
header div {
    width: 98vw;
    margin: auto;
    font-family: Poppins;
}
.flexiable {
    margin-left: 1rem;
}
.flexiable:hover {
    cursor: pointer;
}
