.renderable {
    margin-top: 2vw;
}
.share-container {
    margin: auto 0px;
    flex-basis: content;
    height: 51px;
    box-shadow: 1px 6px 0 #165c9c, inset 0 5px 0 #ffffff;
    border-radius: 15px;
    background-color: #1e7cd3;
    justify-content: center;
    align-items: center;
}
.edits {
    margin-left: 7vmin;
    flex-direction: column;
    background-color: #383b42;
    border-radius: 30px;
    align-items: center;
}
.edits > * {
    margin: auto;
}
canvas {
    margin-left: 9vw;
    border-radius: 30px;
}
.meme-editor {
    width: 98vw;
    margin: auto;
}
